# Transform

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({"gruplar":["A", "B", "C", "A", "B", "C"],
                   "degisken1": [10,23,33,22,11,99],
                   "degisken2": [100,253,333,262,111,969]},
                   columns = ["gruplar", "degisken1", "degisken2"])

In [4]:
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [5]:
df["degisken1"]*9

0     90
1    207
2    297
3    198
4     99
5    891
Name: degisken1, dtype: int64

In [11]:
dfa = df.iloc[:,1:3]

In [14]:
dfa.transform(lambda x:x-x.mean() /x.std())

   degisken1   degisken2
0   9.013055   98.951261
1  22.013055  251.951261
2  32.013055  331.951261
3  21.013055  260.951261
4  10.013055  109.951261
5  98.013055  967.951261